@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'GS';
	src: local('GS Regular'), local('GS-Regular'), url('../gsregular.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'GS';
	src: local('GS Italic'), local('GS-Italic'), url('../gsitallic.ttf') format('truetype');
	font-weight: 400;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'GS';
	src: local('GS Medium'), local('GS-Medium'), url('../gsmedium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'GS';
	src: local('GS Medium'), local('GS-Medium'), url('../gsmedium.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'GS';
	src: local('GS Medium Italic'), local('GS-Medium-Italic'), url('../gsmediumitallic.ttf') format('truetype');
	font-weight: 500;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'GS';
	src: local('GS Medium Italic'), local('GS-Medium-Italic'), url('../gsmediumitallic.ttf') format('truetype');
	font-weight: 600;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'GS';
	src: local('GS Bold'), local('GS-Bold'), url('../gsbold.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'GS';
	src: local('GS Bold'), local('GS-Bold'), url('../gsbold.ttf') format('truetype');
	font-weight: 800;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'GS';
	src: local('GS Bold Italic'), local('GS-Bold-Italic'), url('../gsbolditallic.ttf') format('truetype');
	font-weight: 700;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'GS';
	src: local('GS Bold Italic'), local('GS-Bold-Italic'), url('../gsbolditallic.ttf') format('truetype');
	font-weight: 800;
	font-style: italic;
	font-display: swap;
}

html {
	-webkit-text-size-adjust: 100%;
	text-size-adjust: 100%;
}

html, body, button, input, select, textarea {
	font-family: 'GS', -apple-system, BlinkMacSystemFont, sans-serif !important;
}
